---
blocklist:
  - 1234567890

regions:
  - global
  - eu-west-2

bypass-alias-check-accounts:
  - ${account_id}

resource-types:
  includes:
    - IAMGroup
    - IAMGroupPolicy
    - IAMGroupPolicyAttachment
    - IAMInstanceProfile
    - IAMInstanceProfileRole
    - IAMLoginProfile
    - IAMOpenIDConnectProvider
    - IAMPolicy
    - IAMRole
    - IAMSAMLProvider
    - IAMServerCertificate
    - IAMServiceSpecificCredential
  excludes: []

presets:
  landing-zone:
    filters:
      CloudWatchLogsLogGroup:
        - property: logGroupName
          type: contains
          value: "AWSAccelerator"
        - property: logGroupName
          type: regex
          value: "^lza-"
        - property: logGroupName
          type: regex
          value: "^/lza-"
      IAMInstanceProfile:
        - property: Name
          type: regex
          value: "^lza-.*"
      IAMInstanceProfileRole:
        - property: InstanceProfile
          type: regex
          value: "^AWSAccelerator.*"
        - property: InstanceProfile
          type: regex
          value: "^lza-.*"
      IAMRole:
        - property: Name
          type: regex
          value: "^AWSAccelerator.*"
        - property: Name
          type: regex
          value: "^lza-.*"
        - property: Name
          type: contains
          value: "CrossAccount"
      KMSAlias:
        - property: Name
          type: regex
          value: "^alias/accelerator/.*"
        - property: Name
          type: regex
          value: "^alias/lza/.*"
      KMSKey:
        - property: tag:Accelerator
          type: exact
          value: AWSAccelerator
        - property: Name
          type: regex
          value: "^lza-.*"
      SSMParameter:
        - property: Name
          type: regex
          value: "^/accelerator/AWSAccelerator.*"
        - property: Name
          type: regex
          value: "^/lza/.*"
      SNSSubscription:
        - property: ARN
          type: regex
          value: "^arn:aws:sns:.*:.*:aws-accelerator.*"
        - property: ARN
          type: regex
          value: "^arn:aws:sns:.*:.*:lza-.*"
      SNSTopic:
        - property: Name
          type: contains
          value: "lza-"

  control-tower:
    filters:
      CloudWatchLogsLogGroup:
        - property: logGroupName
          type: contains
          value: "aws-controltower"
      IAMRole:
        - property: Name
          type: regex
          value: "^AWSControlTower.*"
        - property: Name
          type: regex
          value: "^aws-controltower.*"
      LambdaFunction:
        - property: Name
          type: regex
          value: "^aws-controltower-NotificationForwarder$"
      SNSSubscription:
        - property: TopicARN
          type: regex
          value: "^arn:aws:sns:.*:.*:aws-controltower.*"
      SNSTopic:
        - property: TopicARN
          type: contains
          value: "aws-controltower"

  cloud-intelligence:
    filters:
      IAMRole:
        - property: Name
          type: regex
          value: "^CID-DC.*"

accounts:
  ## Provided to the template function
  ${account_id}:
    presets:
      - cloud-intelligence
      - control-tower
      - landing-zone
    filters:
      IAMGroup:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMGroupPolicy:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMGroupPolicyAttachment:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMInstanceProfile:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMInstanceProfileRole:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMLoginProfile:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMOpenIDConnectProvider:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMPolicy:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMRole:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMSAMLProvider:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMServerCertificate:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMServiceSpecificCredential:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMUser:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMUserAccessKey:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMUserGroupAttachment:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMUserPolicy:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMUserPolicyAttachment:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IAMVirtualMFADevice:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IoTAuthorizer:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore
      IoTCACertificate:
        - property: tag:Owner
          value: Support
        - property: tag:Owner
          value: Solutions
        - property: tag:aws-nuke
          value: ignore